<footer class="page-footer grey lighten-2">
    <div class="container">
        <!-- 为了使scrollspy工作正常，这里至少要留这么多高度 -->
        <div class="row">
            <div class="col l6 hide-on-med-and-down">
                <h6><%- str.about_me2 %></h6>
                <p><%- str.about_me3 %></p>
            </div>
            <div class="col s12 m6 l3">
                <h6><%- str.other_pages %></h6>
                <p><a onclick="openurl('http://tango.bowei.me');">Tango</a></p>
                <p><a onclick="openurl('http://bowei.me/ray/');">Ray.js</a></p>
                <p><a onclick="openurl('http://bowei.me/quadrilaterals/');">Quadrilaterals!</a></p>
                <p><a onclick="openurl('http://bowei.me/recolor/');">Recolor it!</a></p>
                <p><a onclick="openurl('http://bowei.me/pixel/');">Pixel coloring</a></p>
            </div>
            <div class="col m6 l3 hide-on-small-only">
                <h6><%- str.mini_games %></h6>
                <p><a onclick="openurl('http://bowei.me/endlesssea/');">Endless Sea</a></p>
                <p><a onclick="openurl('http://bowei.me/stickfigurebadminton/');">Stick Figure Badminton</a></p>
                <p><a onclick="openurl('http://bowei.me:2333');">Tanktank</a></p>
                <p><a onclick="openurl('http://bowei.me/doodle/');">Doodle Jump</a></p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <%- str.copyright %>
        </div>
    </div>
</footer>
