<div class="section">
    <div class="row">
        <div class="col s12" onmouseover="friendsLinkChange('<%- str.gay %>');" onmouseout="friendsLinkChange('<%- str.friend %>')">
            <span id="friends_link"><%= str.friend %></span><span><%= str.friend_link2 %></span>
            <br>
            <grey><%- str.friends_link_info %></grey>
            <meow>
                <a href="https://levy.at/"></a>
                <a href="https://yuzm.me/"></a>
                <a href="http://gcdofree.com/"></a>
                <a href="http://wangzhao.me/"></a>
            </meow>
            <p>
                <div onclick="openurl('https://levy.at/');" class="friend chip <%= main_color %> lighten-5"  onmouseover="friendsLink('levy.at','leiyu');" onmouseout="friendsLink('雷彧的墨水','leiyu');">
                    <img src="img/levy.jpg" alt="Contact Person">
                    <span class="leiyu <%= second_color %>-text">雷彧的墨水</span>
                </div>
                <div onclick="openurl('https://yuzm.me/');" class="friend chip <%= main_color %> lighten-5" onmouseover="friendsLink('yuzm.me','zeming');" onmouseout="friendsLink('俞则污(网站挂了)','zeming');">
                    <img src="img/yuzm.jpg" alt="Contact Person">
                    <span class="zeming <%= second_color %>-text">俞则污(网站挂了)</span>
                </div>
                <div onclick="openurl('http://gcdofree.com/');" class="friend chip <%= main_color %> lighten-5" onmouseover="friendsLink('gcdofree.com','gcdofree.com');" onmouseout="friendsLink('gcdofree.com','gcdofree.com');">
                    <img src="img/gc.jpg" alt="Contact Person">
                    <span class="gcdofree.com <%= second_color %>-text">gcdofree.com</span>
                </div>
                <div onclick="openurl('http://wangzhao.me/');" class="friend chip <%= main_color %> lighten-5" onmouseover="friendsLink('wangzhao.me','wangzhao.me');" onmouseout="friendsLink('wangzhao.me','wangzhao.me');">
                    <img src="img/wz.jpg" alt="Contact Person">
                    <span class="wangzhao.me <%= second_color %>-text">wangzhao.me</span>
                </div>
                <div onclick="openurl('https://konanoo.com/');" class="friend chip <%= main_color %> lighten-5">
                    <!-- <img src="img/wz.jpg" alt="Contact Person"> -->
                    <span class="<%= second_color %>-text">NanoApe</span>
                </div>
                <div onclick="openurl('https://ir1d.cf/');" class="friend chip <%= main_color %> lighten-5">
                    <!-- <img src="img/wz.jpg" alt="Contact Person"> -->
                    <span class="<%= second_color %>-text">Ir1d</span>
                </div>
            </p>
            <p>
                <div onclick="openurl('http://cultofthepartyparrot.com/');" class="friend chip <%= main_color %> lighten-5">
                    <img src="img/parrot.gif" alt="Contact Person">
                    <span class="<%= second_color %>-text"><red>P</red><pink>a</pink><purple>r</purple><indigo>t</indigo><aqua>y</aqua> <cyan>P</cyan><teal>a</teal><green>r</green><lime>r</lime><amber>o</amber><orange>t</orange></span>
                </div>
                <div onclick="openurl('http://jsforcats.com/');" class="friend chip <%= main_color %> lighten-5">
                    <!-- <img src="img/parrot.gif" alt="Contact Person"> -->
                    <span class="<%= second_color %>-text">JS for Cats</span>
                </div>
                <div onclick="openurl('http://people.csail.mit.edu/junyanz/cat/cat_papers.html');" class="friend chip <%= main_color %> lighten-5">
                    <!-- <img src="img/parrot.gif" alt="Contact Person"> -->
                    <span class="<%= second_color %>-text">Cat Papers</span>
                </div>
                <div onclick="openurl('https://aidn.jp/mikutap/');" class="friend chip <%= main_color %> lighten-5">
                    <!-- <img src="img/parrot.gif" alt="Contact Person"> -->
                    <span class="<%= second_color %>-text">Mikutap</span>
                </div>
            </p>
        </div>
    </div>
</div>
